#searchBar {
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    width: 20em;
    height: 2em;
    padding: 0.3em 2.1em 0.3em 0.8em;
    border: none;
    box-sizing: border-box;
    border-radius: 2.5em;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30em;
}